# ===============================

# DJANGO ENVIRONMENT

# ===============================

DJANGO_ENV=development
DEBUG=True
SECRET_KEY=your-django-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost

# =================================

# CORS / CSRF

# =================================

CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173

# ===============================

# DATABASE (PostgreSQL)

# ===============================

DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@HOST:PORT/DB_NAME

# Example:

# postgresql://postgres:password@localhost:5432/db_name

# ===============================

# CLOUDINARY

# ===============================

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# ===============================

# EMAIL CONFIG

# ===============================

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=[your_email@gmail.com](mailto:your_email@gmail.com)
EMAIL_HOST_PASSWORD=your_email_app_password
DEFAULT_FROM_EMAIL=[your_email@gmail.com](mailto:your_email@gmail.com)

# ===============================

# STRIPE

# ===============================

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

# ===============================

# TWILIO

# ===============================

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

# ===============================

# GOOGLE AUTH

# ===============================

GOOGLE_CLIENT_ID=your_google_client_id
